<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>764044657499-vj3l3f93lbksu2esrnugpkgirj996o07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764044657499-vj3l3f93lbksu2esrnugpkgirj996o07</string>
	<key>API_KEY</key>
	<string>AIzaSyDlpe3Re8YKdJ2DlCjXfeSjhnSROR1XtSA</string>
	<key>GCM_SENDER_ID</key>
	<string>764044657499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.cs3217</string>
	<key>PROJECT_ID</key>
	<string>pace-68bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>pace-68bc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764044657499:ios:90bf428fb88f4adf</string>
	<key>DATABASE_URL</key>
	<string>https://pace-68bc7.firebaseio.com</string>
</dict>
</plist>